body , html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(197, 136, 194);
   font-family: 'Montserrat', sans-serif;;
}

img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
    
}

.descricao{
    width: 250px;
    
}



h2{
    margin-bottom: 5px;

}

.duracao{
    width: 250px;
    margin-top: 25px;
}

.barra{
    width: 250px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

progress{
   
    height: 6px;
    width: 0%;
    
}


.ponto{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #eee;
    margin-left: - 10px;

}


.tempo{
    color: rgb(196, 190, 190);
    display: flex;
    width: 250px;
    justify-content: space-between;
}


.botao-play , .botao-pause{
    font-size: 45px;
    cursor: pointer;
}


.setas{
    font-size: 35px;
    cursor: pointer;
}


.botao-pause{
    display: none;
    cursor: pointer;
    
    
}


.player{
    border-radius: 8px;
    width: 250px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(221, 220, 220);
    background-color: rgba(0, 0, 0, 0.356);
    height: 55px;
    margin-top: 15px;
 
}


.container{

    background-color: rgba(128, 128, 128, 0.493);
    height: 500px;
    width: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
}
